@import 'switch.scss';
@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, monospace;
}

.new-todo-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.input {
  margin: 20px 0;
  border: none;
  outline-width: 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
  width: 92%;
  height: 35px;
  font-size: 30px;
  color: $grey;
  &::placeholder {
    color: lightgrey;
  }
}

.button {
  background-color: transparent;
  border: none;
  outline-width: 0;
  font-size: 14px;
  text-transform: uppercase;
  animation: opacity 0.5s;
  animation-fill-mode: forwards;
  cursor: pointer;

  &--add {
    color: $blue;
  }

  &--remove {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $red;
  }

  &--done {
    position: absolute;
    right: 0;
    top: 0;
    color: $green;
  }

  &:hover {
    font-weight: bold;
  }

  @media (min-width: $smallscreen) {
    font-size: 16px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

label[for='newTodo'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.todo {
  color: $blue;
}

.done {
  color: $green;
}

.todo,
.done {
  margin: 10px 0;
  text-align: center;
}

.container {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  @media (min-width: $smallscreen) {
    margin: 0 auto;
    width: 75vw;
  }

  @media (min-width: $desktop) {
    width: 60vw;
  }

  @media (min-width: $largedesktop) {
    width: 50vw;
  }
}

ul {
  width: 100%;
}

@keyframes slidein {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

li {
  animation: slidein 0.2s;
  animation-fill-mode: forwards;
  position: relative;
  line-height: 50px;
  font-size: 25px;
  width: 100%;
  margin-top: 3px;
  text-align: center;
  color: $grey;
  border-color: $grey;
  list-style-type: none;
  border-bottom: 1px solid;
  & > span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }
}
